body {
    font-family: arial;
    background: #030311;
  }
  
  #mainstopwatch {
    width: 90%; /* Adjust to your desired width */
    max-width: 400px; /* Maximum width for larger screens */
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    border-radius: 23px;
    background: #179775;
  }
  
  #mainstopwatch span {
    width: 55px;
    color: #ffffff;
    margin: 3px;
    padding: 10px;
    border-radius: 12px;
    display: inline-block;
    background: #3b3b68;
  }
  
  #mainstopwatch button {
    border: none;
    -webkit-appearance: none;
    font-size: 18px;
    width: 120px;
    height: 45px;
    color: white;
    background-color: #6019c4;
    border-radius: 33px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
  }
  
  #mainstopwatch button:nth-of-type(2) {
    background-color: #c9c925;
  }
  
  #mainstopwatch button:last-child {
    background-color: #ff2e2e;
    margin-top: 10px;
  }
  
  #mainstopwatch button:hover {
    background: #333;
    color: #e0e0e0;
    border-radius: 38px;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    #mainstopwatch {
      font-size: 30px; /* Decrease font size for smaller screens */
    }
  
    #mainstopwatch button {
      font-size: 16px;
      width: 100px;
      height: 40px;
    }
  }